@keyframes roll {
            0% {

                transform: rotateZ(0deg);
            }

            5%,
            25% {
                transform: rotateZ(90deg);
            }

            30%,
            50% {
                transform: rotateZ(180deg);
            }

            55%,
            75% {
                transform: rotateZ(270deg);
            }

            80%,
            100% {
                transform: rotateZ(360deg);
            }
        }

        @keyframes show {

            0% {
                opacity: 0;
                transform: scaleX(0);
            }

            10% {
                opacity: 1;
            }

            15%,
            40% {
                transform: scaleX(1);
                opacity: 1;
            }

            60% {
                opacity: 0;
            }
        }